* {
  margin: 0;
  font-family: "Inter";
  padding: 0;
  color: #293845;
  user-select: none;
  line-height: 1.5em;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

.ya {
  font-size: 40px;
  border: 2px solid black;
  height: 300px;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.container {
  display: grid;
  grid-template-rows: repeat(6, auto);
}

.navBar {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.navBar a {
  text-decoration: none;
  margin-right: 8px;
}
.navBar .navBar-logo {
  font-weight: 600;
  font-size: 40px;
  display: flex;
  align-items: center;
}
.navBar .navBar-logo #esc {
  color: #293845;
}
.navBar .navBar-logo .logo-icon {
  color: #b987e1;
  font-size: 80px;
  margin-right: 18px;
}
@media screen and (max-width: 1000px) {
  .navBar .navBar-logo .logo-icon {
    font-size: 50px;
  }
}
.navBar .navBar-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  margin: 20px auto;
}
.navBar .navBar-menu .menu-name {
  font-weight: 400;
  margin: auto 50px;
  font-size: 25px;
  color: #293845;
  padding: 5px;
}
.navBar .navBar-menu a:hover {
  background-color: #c1a2da;
  border-radius: 4px;
  padding: 5px;
}
.navBar .hamburger {
  position: absolute;
  font-size: 2em;
  right: 20px;
  display: none;
}
.navBar .hamburger i {
  color: #4b5c6b;
}
@media screen and (max-width: 1000px) {
  .navBar {
    padding: 20px;
  }
  .navBar .navBar-logo {
    font-size: 12px;
    line-height: 2em;
    font-weight: lighter;
  }
  .navBar .navBar-logo #esc {
    color: #293845;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
  }
  .navBar .navBar-logo .logo {
    margin-right: 20px;
    font-size: 3.3em;
  }
  .navBar .navBar-menu {
    display: none;
    height: auto;
  }
  .navBar .navBar-menu .menu-name {
    color: #293845;
    font-size: 1.4rem;
    margin: 15px 0;
  }
  .navBar .hamburger {
    display: block;
  }
}
@media screen and (max-width: 1000px) and (max-width: 300px) {
  .navBar .hamburger {
    position: absolute;
    right: 1px;
  }
}
@media screen and (max-width: 1000px) {
  .navBar .navBar-menu.active {
    display: flex;
    flex-direction: column;
  }
}

.headImg {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column: 1/4;
  position: relative;
  background-color: #dfe6ed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 500px;
}
@media screen and (max-width: 500px) {
  .headImg {
    height: 250px;
  }
}
@media screen and (max-width: 600px) {
  .headImg {
    height: 200px;
  }
}
.headImg #firstImg {
  width: 120px;
}
@media screen and (max-width: 600px) {
  .headImg #firstImg {
    width: 65px;
  }
}
.headImg .headImg-btns {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 93%;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .headImg .headImg-btns {
    top: 90%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.headImg .secondBtn-headImg {
  margin-left: 20px;
  background-color: #6558f5;
  padding: 20px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.headImg .secondBtn-headImg i {
  color: #fff;
}
.headImg .secondBtn-headImg a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 300) {
  .headImg .secondBtn-headImg {
    width: 50%;
  }
}
.headImg .secondBtn-headImg i {
  color: #fff;
  margin: 0 6px;
}
@media screen and (max-width: 600px) {
  .headImg .secondBtn-headImg {
    padding: 12px 1.2em;
    font-size: 18px;
    margin: 0;
  }
  .headImg .secondBtn-headImg a {
    color: #fff;
  }
}
.headImg .firstBtn-headImg {
  margin-right: 20px;
  background-color: #6558f5;
  padding: 20px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.headImg .firstBtn-headImg i {
  color: #fff;
  margin: 0 6px;
}
.headImg .firstBtn-headImg i {
  color: #fff;
}
.headImg .firstBtn-headImg a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 300) {
  .headImg .firstBtn-headImg {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .headImg .firstBtn-headImg {
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #c3bfe8;
    padding: 3px;
    margin: 10px 0 0 0;
    width: 180px;
    border-radius: 0;
    font-size: 18px;
  }
  .headImg .firstBtn-headImg i {
    display: none;
  }
  .headImg .firstBtn-headImg a {
    color: #6558f5;
  }
}

.testimonial {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
@media screen and (max-width: 600px) {
  .testimonial {
    margin: 100px auto;
    margin-bottom: 0;
  }
}
.testimonial .firstQuote {
  grid-column: span 1;
}
.testimonial .secondQuote {
  grid-column: span 1;
  display: flex;
}
.testimonial .quotes {
  display: flex;
  font-size: 25px;
  margin-top: 100px;
  padding-right: 20px;
}
@media screen and (max-width: 1000px) {
  .testimonial .quotes {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .testimonial .quotes {
    margin-bottom: 50px;
    width: 90%;
    font-size: 15px;
    margin: 30px auto;
  }
}
.testimonial .quotes .quote-img {
  margin: 0 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
@media screen and (max-width: 750px) {
  .testimonial .quotes .quote-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 10px 0 10px;
  }
}
.testimonial .quotes p {
  font-style: italic;
}
.testimonial .quotes .quote-label {
  text-indent: 10px;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .testimonial .quotes .quote-label {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .testimonial .secondQuote {
    display: none;
  }
}

.two-btns {
  text-align: center;
}
.two-btns .btn-in-two-btns {
  background-color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 5px;
  border-color: #c7c3fb;
  border-style: solid;
  font-weight: bold;
  margin: 70px 10px 150px 10px;
}
.two-btns .btn-in-two-btns i {
  color: #6558f5;
}
.two-btns .btn-in-two-btns a {
  text-decoration: none;
  color: #6558f5;
}
@media screen and (max-width: 600px) {
  .two-btns {
    display: flex;
    flex-direction: column;
  }
  .two-btns .btn-in-two-btns {
    color: #6558f5;
    border: none;
    background-color: #fff;
    text-decoration: underline;
    text-decoration-color: #c7c3fb;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    padding: 3px;
    margin-top: 10px;
    border-radius: 0;
    font-size: 18px;
    margin: 10px auto;
    font-weight: bold;
  }
}
@media screen and (max-width: 600px) and (max-width: 300) {
  .two-btns .btn-in-two-btns {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .two-btns .btn-in-two-btns i {
    color: #6558f5;
    margin-right: 5px;
  }
}
@media screen and (max-width: 600px) {
  .two-btns .btn-in-two-btns a {
    text-decoration: none;
    color: #6558f5;
  }
}

.full-story {
  text-align: center;
  margin-bottom: 150px;
}
@media screen and (max-width: 600px) {
  .full-story {
    font-size: 20px;
    text-align: center;
    margin: 55px 10px 70px 10px;
  }
}
.full-story .full-story-desc {
  margin: 0 auto;
  width: 600px;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .full-story .full-story-desc {
    width: 90%;
  }
}
.full-story #btn-in-full-story {
  background-color: #fff;
  color: #6558f5;
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 5px;
  border-color: #c7c3fb;
  border-style: solid;
  font-weight: bold;
}
.full-story #btn-in-full-story a {
  text-decoration: none;
  color: #6558f5;
}

.four-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
}
.four-boxes .imgs-in-four-boxes img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .four-boxes .imgs-in-four-boxes img {
    width: 100%;
    height: 250px;
  }
}
@media screen and (max-width: 1000px) {
  .four-boxes {
    display: flex;
    flex-direction: column;
  }
}
.four-boxes .first-div {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.four-boxes .second-div {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (max-width: 1000px) {
  .four-boxes .second-div {
    display: flex;
    flex-direction: column-reverse;
  }
}
.four-boxes .textBox-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
@media screen and (max-width: 600px) {
  .four-boxes .textBox-flex {
    padding: 20px 0;
  }
}
.four-boxes .textBox-flex .texts-in-four-boxes {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  .four-boxes .textBox-flex .texts-in-four-boxes {
    font-size: 14px;
  }
}
.four-boxes .textBox-flex .texts-in-four-boxes .text-title-in-four-boxes {
  font-size: 25px;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .four-boxes .textBox-flex .texts-in-four-boxes .text-title-in-four-boxes {
    font-size: 18px;
  }
}
.four-boxes .btns-in-four-boxes {
  background-color: #6558f5;
  padding: 20px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 23px;
}
.four-boxes .btns-in-four-boxes i {
  color: #fff;
}
.four-boxes .btns-in-four-boxes a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 300) {
  .four-boxes .btns-in-four-boxes {
    width: 50%;
  }
}
.four-boxes .firstBtn-in-four-boxes {
  width: 250px;
  margin-top: 30px;
}
@media screen and (max-width: 600px) {
  .four-boxes .firstBtn-in-four-boxes {
    font-size: 15px;
    padding: 5px 10px;
    width: 60%;
  }
}
.four-boxes .secondBtn-in-four-boxes {
  margin: 30px 15px;
}
@media screen and (max-width: 600px) {
  .four-boxes .secondBtn-in-four-boxes {
    margin: 0;
    margin-top: 30px;
    font-size: 15px;
    width: 60%;
    padding: 8px 0px;
  }
}
@media screen and (max-width: 600px) {
  .four-boxes .play-online-btn {
    color: #6558f5;
    border: none;
    background-color: #fff;
    text-decoration: underline;
    text-decoration-color: #c7c3fb;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    padding: 3px;
    margin-top: 10px;
    border-radius: 0;
    font-size: 18px;
    margin: 10px auto;
    font-weight: bold;
    text-align: start;
    margin: 0;
  }
}
@media screen and (max-width: 600px) and (max-width: 300) {
  .four-boxes .play-online-btn {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .four-boxes .play-online-btn i {
    color: #6558f5;
    margin-right: 5px;
  }
}
@media screen and (max-width: 600px) {
  .four-boxes .play-online-btn a {
    text-decoration: none;
    color: #6558f5;
  }
}
@media screen and (max-width: 600px) {
  .four-boxes .btns-flex-in-four-boxes {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }
}

.footer {
  font-size: 18px;
  padding: 100px 50px;
  background-color: #DFE6ED;
  display: flex;
  justify-content: space-around;
}
.footer a {
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  .footer {
    padding: 0;
    flex-direction: column;
  }
}
.footer .footer-left {
  max-width: 500px;
}
@media screen and (max-width: 1000px) {
  .footer .footer-left {
    width: 65%;
    margin: 50px auto;
  }
}
@media screen and (max-width: 600px) {
  .footer .footer-left #footer-left-title {
    font-weight: bold;
  }
}
.footer .footer-middle {
  display: flex;
}
@media screen and (max-width: 1000px) {
  .footer .footer-middle {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
}
.footer .footer-middle .footer-middle-container {
  padding: 0 50px;
}
@media screen and (max-width: 1000px) {
  .footer .footer-middle .footer-middle-container {
    padding: 0;
  }
}
.footer .footer-middle .footer-middle-container .footer-middle-title {
  font-weight: bold;
}
.footer .footer-middle .footer-middle-container .footer-middle-menu {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .footer .footer-middle .footer-middle-container .footer-middle-menu {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-middle .footer-middle-container .footer-middle-menu a {
    text-decoration: none;
    color: #293845;
  }
}
.footer .footer-middle .footer-middle-container .footer-middle-sns {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .footer .footer-middle .footer-middle-container .footer-middle-sns {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-middle .footer-middle-container .footer-middle-sns a {
    text-decoration: none;
    color: #293845;
  }
}
.footer .footer-right {
  display: none;
}
@media screen and (max-width: 1000px) {
  .footer .footer-right {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 40px auto;
  }
}

/*# sourceMappingURL=style.css.map */
