* {
  margin: 0;
  font-family: "Roboto";
  padding: 0;
  color: #293845;
  user-select: none;
  line-height: 1.5em;
}

html {
  width: 100vw;
  overflow-x: hidden;
  max-width: 1280px;
  margin: 0 auto;
}

.ya {
  font-size: 40px;
  border: 2px solid black;
  height: 300px;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.container {
  display: grid;
  grid-template-rows: repeat(6, auto);
}

.navBar {
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #011827;
}
.navBar a {
  text-decoration: none;
  margin-right: 8px;
}
.navBar .navBar-logo {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 1000px) {
  .navBar .navBar-logo {
    display: flex;
    align-items: center;
  }
}
.navBar .navBar-logo .logo-icon {
  width: 128px;
  height: 82px;
  margin-right: 20px;
}
@media screen and (max-width: 1000px) {
  .navBar .navBar-logo .logo-icon {
    margin-right: 5px;
    font-size: 50px;
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (max-width: 1000px) {
  .navBar .navBar-logo-text {
    width: 80px;
    margin-left: 10px;
  }
}
.navBar .navBar-logo-text a {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .navBar .navBar-logo-text a {
    font-size: 20px;
  }
}
.navBar .navBar-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  margin: 20px auto;
}
.navBar .navBar-menu .menu-name {
  font-weight: bold;
  margin: auto 50px;
  font-size: 25px;
  padding: 5px;
  color: #fff;
}
@media screen and (max-width: 1060px) {
  .navBar .navBar-menu .menu-name {
    font-size: 22px;
  }
}
.navBar .navBar-menu a:hover {
  color: #93cfe6;
}
.navBar .hamburger {
  position: absolute;
  font-size: 2em;
  right: 20px;
  display: none;
}
.navBar .hamburger i {
  color: #011827;
}
@media screen and (max-width: 1000px) {
  .navBar .navBar-logo {
    font-size: 12px;
    line-height: 2em;
    font-weight: lighter;
  }
  .navBar .navBar-menu {
    display: none;
    height: auto;
  }
  .navBar .navBar-menu .menu-name {
    color: #293845;
    font-size: 1.4rem;
    margin: 15px 0;
  }
  .navBar .hamburger {
    display: block;
  }
}
@media screen and (max-width: 1000px) and (max-width: 300px) {
  .navBar .hamburger {
    position: absolute;
    right: 1px;
  }
}
@media screen and (max-width: 1000px) {
  .navBar .navBar-menu.active {
    display: flex;
    flex-direction: column;
  }
}

.headImg {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column: 1/4;
  position: relative;
  background: url(/imgs/image\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #dfe6ed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 500px;
}
@media screen and (max-width: 500px) {
  .headImg {
    height: 250px;
  }
}
@media screen and (max-width: 600px) {
  .headImg {
    background: url(/imgs/image\ 3\(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 274px;
  }
}
@media screen and (max-width: 600px) {
  .headImg #firstImg {
    width: 65px;
  }
}
.headImg .headImg-btns {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 93%;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .headImg .headImg-btns {
    top: 115%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.headImg .secondBtn-headImg {
  background-color: #E3170A;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  padding: 18px 35px;
  background-color: #8ACFE5;
}
.headImg .secondBtn-headImg a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 300) {
  .headImg .secondBtn-headImg {
    width: 50%;
  }
}
.headImg .secondBtn-headImg a {
  color: #011827;
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  .headImg .secondBtn-headImg {
    padding: 12px 1em;
    font-size: 18px;
    margin: 0;
  }
  .headImg .secondBtn-headImg a {
    color: #011827;
  }
}
.headImg .firstBtn-headImg {
  margin-right: 20px;
  background-color: #E3170A;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  padding: 18px 35px;
}
.headImg .firstBtn-headImg a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 300) {
  .headImg .firstBtn-headImg {
    width: 50%;
  }
}
.headImg .firstBtn-headImg a {
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  .headImg .firstBtn-headImg {
    background-color: #fff;
    border: none;
    text-decoration: underline;
    text-decoration-color: #83aac2;
    padding: 3px;
    margin: 10px 0 0 0;
    width: 180px;
    border-radius: 0;
    font-size: 18px;
  }
  .headImg .firstBtn-headImg a {
    font-size: 16px;
    color: #36769D;
    font-weight: 500;
  }
}

.testimonial {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 130px;
}
@media screen and (max-width: 600px) {
  .testimonial {
    margin: 150px auto;
    margin-bottom: 0;
  }
}
.testimonial .firstQuote {
  grid-column: span 1;
}
.testimonial .secondQuote {
  grid-column: span 1;
  display: flex;
}
.testimonial .quotes {
  display: flex;
  font-size: 25px;
  padding-right: 20px;
  font-style: italic;
}
@media screen and (max-width: 1000px) {
  .testimonial .quotes {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .testimonial .quotes {
    margin-bottom: 50px;
    width: 90%;
    font-size: 15px;
    margin: 30px auto;
  }
}
.testimonial .quotes .quote-img {
  margin: 0 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
@media screen and (max-width: 750px) {
  .testimonial .quotes .quote-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 10px 0 10px;
  }
}
.testimonial .quotes .quote-cite {
  font-style: normal;
  text-indent: 10px;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  .testimonial .quotes .quote-cite {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .testimonial .secondQuote {
    display: none;
  }
}

.cards-with-carousel {
  margin: 50px auto;
}
@media screen and (max-width: 600px) {
  .cards-with-carousel {
    margin: 40px auto;
  }
}
.cards-with-carousel .popular {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  margin: 90px 0;
}
@media screen and (max-width: 600px) {
  .cards-with-carousel .popular {
    font-size: 23px;
    padding: 10px;
    margin: 30px auto;
  }
}
.cards-with-carousel .carousel-cell {
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.cards-with-carousel .carousel-cell .card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 363px;
  height: 446px;
  border-radius: 8px;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .cards-with-carousel .carousel-cell .card {
    width: 300px;
  }
}
.cards-with-carousel .carousel-cell .card .card-container {
  padding: 10px;
  position: relative;
}
.cards-with-carousel .carousel-cell .card .card-container .card-title {
  font-size: 28px;
  font-weight: 500;
}
.cards-with-carousel .carousel-cell .card .card-container .stars {
  display: flex;
  justify-content: space-between;
}
.cards-with-carousel .carousel-cell .card .card-container .stars i {
  color: #e3170a;
  letter-spacing: 5px;
}
.cards-with-carousel .carousel-cell .card .card-container .card-little-text {
  font-size: 14px;
}
.cards-with-carousel .carousel-cell .card .card-container .card-body {
  margin-top: 20px;
  line-height: 1.2em;
}
.cards-with-carousel .carousel-cell .card .card-container .card-btn {
  background-color: #E3170A;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 30px;
  position: absolute;
  right: 13px;
  top: 110%;
}
.cards-with-carousel .carousel-cell .card .card-container .card-btn a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 300) {
  .cards-with-carousel .carousel-cell .card .card-container .card-btn {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .cards-with-carousel .carousel-cell .card .card-container .card-btn {
    top: 100%;
  }
}
.cards-with-carousel .carousel-cell .card img {
  width: 363px;
  height: 219px;
}
@media screen and (max-width: 600px) {
  .cards-with-carousel .carousel-cell .card img {
    width: 300px;
  }
}

.flex-me {
  display: flex;
  justify-content: space-around;
}

.two-btns {
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 600px) {
  .two-btns {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
  }
}
.two-btns .firstBtn-in-two-btns {
  background-color: #E3170A;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  padding: 18px 35px;
  margin: 5px;
}
.two-btns .firstBtn-in-two-btns a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 300) {
  .two-btns .firstBtn-in-two-btns {
    width: 50%;
  }
}
.two-btns .firstBtn-in-two-btns a {
  color: #fff;
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  .two-btns .firstBtn-in-two-btns {
    background-color: #8ACFE5;
  }
}
@media screen and (max-width: 600px) and (max-width: 600px) {
  .two-btns .firstBtn-in-two-btns {
    padding: 12px 1em;
    font-size: 18px;
    margin: 0;
  }
  .two-btns .firstBtn-in-two-btns a {
    color: #011827;
  }
}
.two-btns .secondBtn-in-two-btns {
  background-color: #E3170A;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  background-color: #8ACFE5;
  padding: 18px 35px;
  margin: 5px;
}
.two-btns .secondBtn-in-two-btns a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 300) {
  .two-btns .secondBtn-in-two-btns {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .two-btns .secondBtn-in-two-btns {
    padding: 12px 1em;
    font-size: 18px;
    margin: 0;
  }
  .two-btns .secondBtn-in-two-btns a {
    color: #011827;
  }
}
.two-btns .secondBtn-in-two-btns a {
  color: #011827;
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  .two-btns .secondBtn-in-two-btns {
    color: #6558f5;
    border: none;
    background-color: #fff;
    text-decoration: underline;
    text-decoration-color: #83aac2;
    padding: 3px;
    margin: 10px 0 0 0;
    width: 180px;
    border-radius: 0;
    font-size: 18px;
    border-radius: 0;
    font-size: 18px;
    margin: 10px auto;
    font-weight: bold;
  }
}
@media screen and (max-width: 600px) and (max-width: 300) {
  .two-btns .secondBtn-in-two-btns {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .two-btns .secondBtn-in-two-btns a {
    text-decoration: none;
    color: #36769D;
    font-weight: 500;
    font-size: 16px;
  }
}

.full-story {
  text-align: center;
  background-color: #011827;
  padding: 100px 20px;
}
@media screen and (max-width: 800px) {
  .full-story {
    font-size: 20px;
    text-align: center;
    margin-top: 55px;
  }
}
.full-story .full-story-desc {
  color: #fff;
  margin: 0 auto;
  width: 600px;
  font-size: 20px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.3em;
}
@media screen and (max-width: 700px) {
  .full-story .full-story-desc {
    width: 90%;
    height: 80%;
  }
}
.full-story #btn-in-full-story {
  background-color: #011827;
  font-size: 24px;
  padding: 10px 40px;
  margin-top: 30px;
  border-radius: 5px;
  border-color: #8ACFE5;
  border-style: solid;
  font-weight: bold;
}
.full-story #btn-in-full-story a {
  text-decoration: none;
  color: #8ACFE5;
}
@media screen and (max-width: 600px) {
  .full-story #btn-in-full-story {
    width: 70%;
    padding: 10px 5%;
  }
}
@media screen and (max-width: 427px) {
  .full-story #btn-in-full-story {
    font-size: 18px;
  }
}

.four-boxes {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 100px;
}
.four-boxes .imgs-in-four-boxes img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .four-boxes .imgs-in-four-boxes img {
    width: 100%;
    height: 300px;
  }
}
.four-boxes .first-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 800px) {
  .four-boxes .first-div {
    display: flex;
    flex-direction: column;
  }
}
.four-boxes .second-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 800px) {
  .four-boxes .second-div {
    display: flex;
    flex-direction: column-reverse;
  }
}
.four-boxes .textBox-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
@media screen and (max-width: 800px) {
  .four-boxes .textBox-flex {
    padding: 20px 0;
  }
}
.four-boxes .textBox-flex .texts-in-four-boxes {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 24px;
}
.four-boxes .textBox-flex .texts-in-four-boxes .text-desc-in-four-boxes {
  line-height: 1.2em;
}
.four-boxes .textBox-flex .texts-in-four-boxes .text-title-in-four-boxes {
  line-height: 1.3em;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
.four-boxes .btns-in-four-boxes {
  background-color: #E3170A;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
  padding: 15px 23px;
  width: 80%;
  margin: 30px 0;
}
.four-boxes .btns-in-four-boxes a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 300) {
  .four-boxes .btns-in-four-boxes {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .four-boxes .btns-in-four-boxes {
    padding: 10 7px;
    font-size: 18px;
    width: 80%;
    margin: 40px 0;
  }
}
@media screen and (max-width: 315px) {
  .four-boxes .btns-in-four-boxes {
    padding: 5px 7px;
    width: 80%;
  }
}

.footer {
  background-color: #011827;
}

/*# sourceMappingURL=style.css.map */
