.full-story {
  text-align: center;
  background-color: $black-color;
  padding: 100px 20px;
  @media screen and (max-width: $breakpoint-width and 800px) {
    margin-top: 55px;
  }
  #full-story-desc {
    color: $white-color;
    margin: 0 auto;
    width: 600px;
    font-size: 28px;
    line-height: 1.3em;
    @media screen and (max-width: 700px) {
      width: 90%;
      height: 80%;
    }
  }
  #btn-in-full-story {
    background-color: $black-color;
    font-size: 24px;
    padding: 10px 45px;
    margin-top: 30px;
    border-radius: 4px;
    border: 2px solid $light-blue;
    font-weight: bold;
    a {
      text-decoration: none;
      color: $light-blue;
    }
    @media screen and (max-width: $breakpoint-width) {
      width: 70%;
      padding: 13px 0;
      margin-top: 45px;
    }
    @media screen and (max-width: 417px) {
      font-size: 20px;
    }
  }
}
