.headImg {
  display: grid;
  position: relative;
  background: url("./imgs/image2.png");
  @include background-img;
  @include img-style;
  @media screen and (max-width: $breakpoint-width) {
    background: url("./imgs/image2small.png");
    @include background-img;
    margin-bottom: 180px;
  }
  #firstImg {
    @media screen and (max-width: $breakpoint-width) {
      width: 65px;
    }
  }
  .headImg-btns {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 93%;
    font-size: 20px;
    @media screen and (max-width: $breakpoint-width) {
      top: 115%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  .secondBtn-headImg {
    @include red-btn-style;
    padding: 18px 35px;
    a {
      color: $black-color;
      font-size: 24px;
    }
    @include red-to-blue;
    @media screen and (max-width: $galaxy-fold-width) {
      a {
        font-size: 18px;
      }
    }
  }
  .firstBtn-headImg {
    margin-right: 20px;
    @include red-btn-style;
    padding: 18px 35px;
    a {
      font-size: 24px;
    }
    @media screen and (max-width: $breakpoint-width) {
      @include white-btn-style;
    }
  }
}
