.testimonial {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 130px;
  @media screen and (max-width: $breakpoint-width) {
    margin: 150px auto;
    margin-bottom: 0;
  }
  .firstQuote {
    grid-column: span 1;
  }
  .secondQuote {
    grid-column: span 1;
    display: flex;
  }
  .quotes {
    display: flex;
    font-size: 25px;
    padding:20px;
    font-style: italic;
    @media screen and (max-width: $breakpoint-width) {
      margin-bottom: 50px;
      width: 90%;
      font-size: 20px;
      margin: 30px auto;
      padding:10px;
    }
    @media screen and (max-width: $galaxy-fold-width) {
      font-size: 18px;
    }
    .quote-img {
      margin-right:10px;
      width: 96.26px;
      height: 107px;
      border-radius: 50%;
      @media screen and (max-width: $breakpoint-width and 750px) {
        width: 73px;
        height: 72px;
        border-radius: 50%;
        margin: 0px 20px 0 10px;
      }
    }
    .quote-cite {
      font-style: normal;
      text-indent: 10px;
      font-size: 18px;
      @media screen and (max-width: $breakpoint-width) {
        font-size: 14px;
      }
      @media screen and (max-width: $galaxy-fold-width) {
        font-size: 12px;
      }
    }
  }
  .secondQuote {
    // margin-right: 20px;
    .secondQuote-img {
      // margin-left: 0px;
    }
    @media screen and (max-width: $breakpoint-width) {
      display: none;
    }
  }
}
