.footer {
    font-size:18px;
    a{
      text-decoration: none;
    }
    padding:100px 50px;
    background-color: #DFE6ED;
    display:flex;
    justify-content: space-around;
    @media screen and(max-width:$breakpoint-width and 1000px) {
      padding:0;
      flex-direction: column;
    }
    .footer-left {
      max-width: 500px;
      @media screen and(max-width:$breakpoint-width and 1000px) {
        width: 65%;
        margin: 50px auto;
      }
      #footer-left-title {
        @media screen and(max-width:$breakpoint-width) {
          font-weight: bold;
        }
      }
    }
    .footer-middle {
      display:flex;
      @media screen and(max-width:$breakpoint-width and 1000px) {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
      }
      .footer-middle-container {
        padding:0 50px;
        @media screen and(max-width:$breakpoint-width and 1000px) {
          padding:0;
        }
        .footer-middle-title {
          font-weight: bold;
        }
        .footer-middle-menu {
          display:flex;
          flex-direction: column;
          @include footer-flex;
        }
        .footer-middle-sns {
          display:flex;
          flex-direction: column;
          @include footer-flex;
        }
      }
    }
    .footer-right {
      display:none;
      @media screen and(max-width:1000px) {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin: 40px auto;
      }
    }
  }
  