.full-story {
  text-align: center;
  background-color: $black-color;
  padding: 100px 20px;
  @media screen and (max-width: $breakpoint-width and 800px) {
    font-size: 20px;
    text-align: center;
    margin-top: 55px;
  }
  .full-story-desc {
    color: $white-color;
    margin: 0 auto;
    width: 600px;
    font-size: 20px;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.3em;
    @media screen and (max-width: 700px) {
      width: 90%;
      height: 80%;
    }
  }
  #btn-in-full-story {
    background-color: $black-color;
    font-size: 24px;
    padding: 10px 40px;
    margin-top: 30px;
    border-radius: 5px;
    border-color: $light-blue;
    border-style: solid;
    font-weight: bold;
    a {
      text-decoration: none;
      color: $light-blue;
    }
    @media screen and (max-width: $breakpoint-width) {
      width: 70%;
      padding: 10px 5%;
    }
    @media screen and (max-width: 427px) {
      font-size: 18px;
    }
  }
}
