.navBar {
    padding: 15px;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      margin-right: 8px;
    }
    .navBar-logo {
      #esc {
        color: #293845;
      }
      font-weight: 600;
      font-size: 40px;
      display: flex;
      align-items: center;
      .logo-icon {
        color: #b987e1;
        font-size: 80px;
        margin-right: 18px;
        @media screen and(max-width:$breakpoint-width and 1000px) {
          font-size:50px;
        }
      }
    }
    .navBar-menu {
      display:grid;
      grid-template-columns: repeat(4,1fr);
      .menu-name {
        font-weight: 400;
        margin:auto 50px;
        font-size: 25px;
        color: #293845;
        padding: 5px;
      }
      padding: 20px;
      margin: 20px auto;
      a:hover {
        background-color: #c1a2da;
        border-radius: 4px;
        padding: 5px;
      }
    }
    .hamburger {
      i {
        color: #4b5c6b;
      }
      position: absolute;
      font-size: 2em;
      right: 20px;
      display: none;
    }
    @media screen and (max-width: 1000px) {
      padding: 20px;
      .navBar-logo {
        font-size: 12px;
        line-height: 2em;
        font-weight: lighter;
        #esc {
          color: #293845;
          font-size: 1.5em;
          font-weight: bold;
          display: flex;
        }
        .logo {
          margin-right: 20px;
          font-size: 3.3em;
        }
      }
      .navBar-menu {
        display: none;
        height:auto;
        .menu-name {
          color: #293845;
          font-size: 1.4rem;
          margin: 15px 0;
        }
      }
      .hamburger {
        display: block;
        @media screen and (max-width:300px) {
          position:absolute;
          right:1px;
        }
      }
      .navBar-menu.active {
        display: flex;
        flex-direction: column;
      }
    }
  }