@mixin img-style {
  background-color: #dfe6ed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 500px;
  @media screen and (max-width: 500px) {
    height: 250px;
  }
}
@mixin btn-style {
  background-color: #E3170A;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  a{
    text-decoration: none;
    color:#fff;
    font-size:18px;
  }
  @media screen and (max-width: 300) {
    width: 50%;
  }
}
@mixin white-btn-style {
  color: #6558f5;
  border: none;
  background-color: #fff;
  text-decoration: underline;
  text-decoration-color:#83aac2;
  padding: 3px;
  margin:10px 0 0 0;
  width: 180px;
  border-radius: 0;
  font-size: 18px;
  
  @media screen and (max-width: 300) {
    width: 50%;
  }
  border-radius: 0;
  font-size: 18px;
  margin: 10px auto;
  font-weight: bold;
  a{
    text-decoration: none;
    color:#36769D;
    font-weight:500;
    font-size:16px;
    
  }
  
  
}

@mixin white-btn-style-2 {
  a{
    text-decoration: none;
    color: #6558f5;
  }
  background-color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 5px;
  border-color: #c7c3fb;
  border-style: solid;
  font-weight: bold;
}

@mixin footer-flex {
  @media screen and(max-width:$breakpoint-width) {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: #293845;
    }
  }
}

@mixin red-to-blue{
  background-color: #8ACFE5;
  @media screen and (max-width: $breakpoint-width) {
    padding: 12px 1em;
    font-size: 18px;
    margin:0;
    a{
      color:#011827;
    }
  }
}