$breakpoint-width: 600px;
$shrink-breakpoint-width: 1000px;
@import "./mixin.scss";

* {
  margin: 0;
  font-family: "Roboto";
  padding: 0;
  color: #293845;
  user-select: none;
  line-height: 1.5em;
}
html {
  width: 100vw;
  overflow-x: hidden;
}
.ya {
  font-size: 40px;
  border: 2px solid black;
  height: 300px;
}
body {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, auto);
}
.container {
  display: grid;
  grid-template-rows: repeat(6, auto);
}
@import "./div-scss-containers/navBar.scss";
@import "./div-scss-containers/headImg.scss";
@import "./div-scss-containers/testimonial.scss";
@import './div-scss-containers/card.scss';
@import "./div-scss-containers/two-btns.scss";
@import "./div-scss-containers/full-story.scss";
@import "./div-scss-containers/four-boxes.scss";
@import "./div-scss-containers/footer.scss";
